In [1]:
import pandas as pd

In [6]:
df

     0 Our first dining experience in a North Korean restaurant, totally run and operated by women folks from North Korea. If you are there for dinner, you could get to enjoy the performances - traditional and modern from waitresses that double up as performers. Waitresses were friendly and despite the fact that they have to multi-task, did not slow down the service.
0     The whole experience was quite strange. Food w...
1                                            감성을 입력하세요1
2     C:\Users\admin\anaconda3\lib\site-packages\ipy...
3     A value is trying to be set on a copy of a sli...
4     See the caveats in the documentation: https://...
...                                                 ...
2850  We had chicken and small octopus for 3, and 1 ...
2851                                         감성을 입력하세요0
2852  1000 Don't worry if you can't find - there are...
2853  How to order? Just point at menu and sit back ...
2854                                         감성을 입력하세요1

[2855 rows x 1 columns]

In [7]:
df_1 = df["0 Our first dining experience in a North Korean restaurant, totally run and operated by women folks from North Korea. If you are there for dinner, you could get to enjoy the performances - traditional and modern from waitresses that double up as performers. Waitresses were friendly and despite the fact that they have to multi-task, did not slow down the service."]

In [11]:
tmp = list()
for i,j in enumerate(df_1):
    if "감성을 입력하세요" in j:
        tmp.append(ij[-1])
    else:
        pass

In [12]:
tmp

['1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '요',
 '요',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 ...]

In [28]:
trip = pd.read_csv("./data/trip_final.csv")

In [30]:
trip = trip.drop(["Unnamed: 0"], axis=1)

In [31]:
trip

,user_name,res_name,rating,rev_title,review,menu
0,AppleTech,Korea House,5.0,Fun and Authentic Experience with Great Service,We’d never had Korean before and I’d been want...,"['kimchijjigae', 'samgyeopsal']"
1,NickyD202,Korea House,5.0,Get the seafood pancake,I really was unsure of how much of the menu wo...,"['kimchijjigae', 'samgyeopsal']"
2,RCSColumbus,Korea House,5.0,The Real Deal Korean,Absolutely delicious authentic Korean food ser...,"['kimchijjigae', 'samgyeopsal']"
3,Btravelfood,Korea House,4.0,Banchan,The banchan or side dishes that they serve are...,"['kimchijjigae', 'samgyeopsal']"
4,cmcwhirter33,Korea House,5.0,Excellent food,My eleven year old twins beg to get biminbop o...,"['kimchijjigae', 'samgyeopsal']"
...,...,...,...,...,...,...
49335,MrsOS2014,Sam Sam Korean Fried Chicken,3.0,Limited Vegetarian Options,Only 2 veggie dishes on menu - vegetable noodl...,"['friedchicken', 'yangnyeomchicken']"
49336,Alison A,Sam Sam Korean Fried Chicken,4.0,Cheap and cheerful,We enjoyed ourselves so much we returned the n...,"['friedchicken', 'yangnyeomchicken']"
49337,addiction4travel,Sam Sam Korean Fried Chicken,4.0,Good korean food.,Went with a couple of friends for dinner. Chic...,"['friedchicken', 'yangnyeomchicken']"
49338,152JoyB,Sam Sam Korean Fried Chicken,5.0,Great Food and Fabulous Service,"We both enjoyed our meal at this restaurant, a...","['friedchicken', 'yangnyeomchicken']"
49339,LC888,Sam Sam Korean Fried Chicken,4.0,Great new korean place,"The place was busy, doesn't take reservation a...","['friedchicken', 'yangnyeomchicken']"

In [32]:
trip["P/N"] = None

In [64]:
trip_yet_2 = trip[999:2000]
trip_yet_2

,user_name,res_name,rating,rev_title,review,menu,P/N
999,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",None
1000,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",None
1001,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",None
1002,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",None
1003,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",None
...,...,...,...,...,...,...,...
1995,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],None
1996,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],None
1997,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],None
1998,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],None
1999,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],None

In [86]:
trip_yet_2=trip_yet_2.reset_index()

In [35]:
tmp

['1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '요',
 '요',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '요',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 ...]

In [95]:
a = pd.DataFrame(tmp, columns=["P/N_3"])

In [76]:
trip_yet_2["P/N_1"] = a["P/N"]

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
a

     P/N_3
0        1
1        1
2        1
3        1
4        1
...    ...
996      1
997      0
998      0
999      0
1000     1

[1001 rows x 1 columns]

In [69]:
a.index

RangeIndex(start=0, stop=1001, step=1)

In [60]:
type(a), type(trip_yet_2)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [97]:
trip_yet_3 = pd.concat([trip_yet_2,a], axis=1)

In [98]:
trip_yet_3.columns

Index(['index', 'user_name', 'res_name', 'rating', 'rev_title', 'review',
       'menu', 'P/N', 'P/N_1', 'P/N_3'],
      dtype='object')

In [99]:
trip_2000 = trip_yet_3[['user_name', 'res_name', 'rating', 'rev_title', 'review',
       'menu', 'P/N_3']]

In [100]:
trip_2000

,user_name,res_name,rating,rev_title,review,menu,P/N_3
0,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
1,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
2,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
3,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
4,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
...,...,...,...,...,...,...,...
996,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],1
997,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],0
998,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],0
999,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],0
1000,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],1

In [101]:
trip_2000 = trip_2000.rename(columns={'P/N_3' : "P/N"})

In [102]:
trip_2000

,user_name,res_name,rating,rev_title,review,menu,P/N
0,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
1,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
2,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
3,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
4,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
...,...,...,...,...,...,...,...
996,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],1
997,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],0
998,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],0
999,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],0
1000,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],1

In [103]:
trip_2000.to_csv("./data/trip_2000.csv")

In [3]:
trip_2000_1 = pd.read_csv("./data/trip_2000.csv")

In [4]:
trip_2000_1

,Unnamed: 0,user_name,res_name,rating,rev_title,review,menu,P/N
0,0,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
1,1,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
2,2,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
3,3,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
4,4,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
...,...,...,...,...,...,...,...,...
996,996,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],1
997,997,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],0
998,998,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],0
999,999,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],0
1000,1000,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],1

In [54]:
trip_2000_1 = trip_2000_1.rename({"P/N" : "PN"}, axis="columns")

In [5]:
trip_2000_1 = trip_2000_1.drop(["Unnamed: 0"], axis=1)

In [104]:
setiment = trip_2000[["review", "P/N"]]

In [ ]:
78행 0로 변경
109행 1로 변경
119행 0로 변경
884행~893행
963행 1로 변경

In [62]:
trip_2000_1["review"].iloc[123]

"This is a fabulous place, you can't phone and book but you can go in and reserve a table on the night , very busy , basic style but food great, there was eight of us we had a set menu for four people twice there was more food than we knew what to do with, reasonably priced as well."

In [61]:
trip_2000_1["PN"].iloc[123]

'요'

In [63]:
trip_2000_1["PN"].iloc[123] = 1

In [45]:
trip_2000_1 = trip_2000_1.dropna()

In [47]:
trip_2000_1.isnull().sum()

user_name    0
res_name     0
rating       0
rev_title    0
review       0
menu         0
P/N          0
dtype: int64

In [55]:
trip_2000_1

,user_name,res_name,rating,rev_title,review,menu,PN
0,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
1,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
2,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
3,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
4,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
...,...,...,...,...,...,...,...
996,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],1
997,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],0
998,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],0
999,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],0
1000,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],1

In [57]:
trip_2000_1[(trip_2000_1.PN.str.contains('요')) == True]

,user_name,res_name,rating,rev_title,review,menu,PN
122,David B,Miss Korea,2.0,Disappointed,We went as friends recommended it and Trip Adv...,['samgyeopsal'],요
123,831maxinen,Miss Korea,5.0,Well worth it,"This is a fabulous place, you can't phone and ...",['samgyeopsal'],요

In [64]:
trip_2000_1 = trip_2000_1.astype({'PN': int})

In [65]:
trip_2000_1.to_csv("./data/trip_2000_final.csv")

In [66]:
trip_2000_1

,user_name,res_name,rating,rev_title,review,menu,PN
0,Traveltubbies,Pyongyang Restaurant,3.0,An interesting introduction to North Korean food,Our first dining experience in a North Korean ...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
1,WilliamBaek,Pyongyang Restaurant,5.0,Great Taste,It was my first meal in North Korean restauran...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
2,n0butakai,Pyongyang Restaurant,3.0,Typical North Korean restaurant for non-Korean,Food are generally good. Tried lunch-Bulkogi-g...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
3,Lai Yoke L,Pyongyang Restaurant,3.0,Worth a visit,Food is generally good. Worth mentioning are k...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
4,hanneetan,Pyongyang Restaurant,3.0,Good food in a very bizarre atmosphere,We've passed by the place a couple times and w...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
...,...,...,...,...,...,...,...
996,anne_spacey,유가네 닭갈비 명동1호점,3.0,No Pork Restaurant for Muslim,Its quite hard to find Halal Restaurant in Seo...,['dakgalbi'],1
997,Ningchou,유가네 닭갈비 명동1호점,3.0,The food nice but poor service,The taste of food is nice and the price is rea...,['dakgalbi'],0
998,Vicky Q,유가네 닭갈비 명동1호점,2.0,Poor service.,"My family, 5 of us, decided to to gave Dak aga...",['dakgalbi'],0
999,Tina L,유가네 닭갈비 명동1호점,5.0,Absolutely delicious,We visited Yoogane for lunch one Sunday. The s...,['dakgalbi'],0
1000,DonJYLoveToTravel,유가네 닭갈비 명동1호점,5.0,Yummy spicy chicken,Don't worry if you can't find - there are 3( I...,['dakgalbi'],1

In [67]:
trip_yet = pd.read_csv("./data/trip_yet.csv")

In [68]:
trip_yet

,Unnamed: 0,user_name,res_name,rating,rev_title,review,menu,P/N
0,0,AppleTech,Korea House,5.0,Fun and Authentic Experience with Great Service,We’d never had Korean before and I’d been want...,"['kimchijjigae', 'samgyeopsal']",1
1,1,NickyD202,Korea House,5.0,Get the seafood pancake,I really was unsure of how much of the menu wo...,"['kimchijjigae', 'samgyeopsal']",1
2,2,RCSColumbus,Korea House,5.0,The Real Deal Korean,Absolutely delicious authentic Korean food ser...,"['kimchijjigae', 'samgyeopsal']",1
3,3,Btravelfood,Korea House,4.0,Banchan,The banchan or side dishes that they serve are...,"['kimchijjigae', 'samgyeopsal']",1
4,4,cmcwhirter33,Korea House,5.0,Excellent food,My eleven year old twins beg to get biminbop o...,"['kimchijjigae', 'samgyeopsal']",1
...,...,...,...,...,...,...,...,...
994,994,secretgardenkohrong,Pyongyang Restaurant,4.0,A bizarre experience,This restaurant isn't somewhere you'd go parti...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
995,995,RobinL2025,Pyongyang Restaurant,4.0,mashikesumnida!,"Typical N.Korean food, including cold noodles....","['mulnaengmyeon', 'bibimnaengmyeon']",0
996,996,341jeans,Pyongyang Restaurant,3.0,Strangest experience in Cambodia,we read the reviews and thought this would be ...,"['mulnaengmyeon', 'bibimnaengmyeon']",0
997,997,Jim M,Pyongyang Restaurant,4.0,Birthday,I took four friends to Pyongyang Restaurant fo...,"['mulnaengmyeon', 'bibimnaengmyeon']",1
998,998,Cowpaper,Pyongyang Restaurant,3.0,Interesting ... but not great.,Went here for dinner hoping it was the night t...,"['mulnaengmyeon', 'bibimnaengmyeon']",1

In [69]:
trip_yet = trip_yet.drop(["Unnamed: 0"], axis=1)

In [70]:
trip_yet = trip_yet.rename({"P/N" : "PN"}, axis="columns")

In [71]:
trip_final = pd.concat([trip_2000_1,trip_yet], axis=0)

In [73]:
trip_final.to_csv("./data/trip_final_2000.csv")

In [74]:
final_sent = trip_final[["review", "PN"]]

In [75]:
final_sent.to_csv("./data/final_sent.csv")